/* first page - Welcome my portfolio */
body{
    color: #4F4F4F;
}
.mainContainer{
    padding-left: 100px;
}
.line01{
    width: 3px;
    height: 250px;
    background-color: #4F4F4F;
}
.line02{
    width: 3px;
    height: 200px;
    background-color: #4F4F4F;
}
.line03{
    width: 3px;
    height: 70px;
    background-color: #4F4F4F;
    margin-bottom: 20px;
}
.line04 {
    width: 3px;
    height: 200px;
    background-color: #4F4F4F;
    margin: 70px 0px 40px;
}
.line05{
    width: 3px;
    height: 500px;
    background-color: #4F4F4F;
    font-size: 40px;
    margin-bottom: 25px;
}
.number {
    padding-bottom: 15px;
    font-size: 34px;
    /* color: #4F4F4F; */
}
.year {
    padding-top: 38px;
    font-family: Raleway;
    font-size: 48px;
    
}
.Myportfolio{
    font-weight: 700;
    font-size: 200px;
    letter-spacing: 0.2em;
    /* color: #4F4F4F; */
    padding: 30px 0px;    
}
.fullname{
    padding: 30px 0px;
    letter-spacing: 0.1em;
    /* color: #4F4F4F; */
    font-size: 25px;
}
.surname{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}
.developer{
    font-size: 20px;
    text-align: right;
}
.vector img{
    padding-top: 20px;
}

/* about me */
.aboutme{ 
    font-size: 85px;
    letter-spacing: 0.05em;
    padding-bottom: 20px;
    /* color: #4F4F4F; */
    font-weight: 700;
}
.self-description{
    max-width: 730px;
    width: 100%;
    font-size: 24px;
    letter-spacing: 0.07em;
    line-height: 30px;
    /* color: #4F4F4F; */
    padding: 0px 20px 15px 0px;
}
/* skills */

.skills{
    margin: 60px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    border-left: 3px solid #4F4F4F;
}

/* projects */
.github img{
    width: 35px;
}
.projects {
    /* color: #4F4F4F; */
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 20px 0px;
}
.project-container-main{
    /* display: flex; */
    position: relative;
}
.project-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 50px 10px;
    width: 100%;
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}
/* .left-description, .right-photo{
    width: 50%;
} */
.left-description {
    width: 600px;
    font-size: 24px;
    line-height: 34px;
    /* color: #4F4F4F; */
    letter-spacing: 0.1em;   
}
/* .right-photo a img{
    width: 600px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px #4F4F4F;
    transition: 0.5s;
}
.right-photo a img:hover {
    scale: 1.03;
    box-shadow: 15px 15px 15px #4F4F4F;
} */
/* project 2 */
.chess-figure{
    width: 600px;
    /* height: 400px; */
    border-radius: 12px;
    box-shadow: 10px 10px 10px #4F4F4F;
    transition: 0.5s;
}
.chess-figure:hover {
    scale: 1.03;
    box-shadow: 15px 15px 15px #4F4F4F;
}
